<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
	<title>{{ .Page.Title }} - {{ .Site.Title }}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" href="{{ .Site.BaseURL }}assets/css/bootstrap.min.css?{{ now.Unix }}">
</head>

<body>

	{{ partial "navigation" . }}


	<header class="my-container pt-5 pb-3">
		<!-- <img class="img-fluid py-3" src="{{ .Site.BaseURL }}projects/sde-urban-2/thumbnail.jpg" alt="sketch"> -->
		<h1 class="display-4 pb-3">{{ .Page.Title }}</h1>
		<p class="lead">{{ .Page.Params.Description }}</p>
	</header>


	<main class="container pb-5">
		{{ .Content }}
	</main>


	<footer class="my-container py-3 d-flex justify-content-end">
		&copy; {{ now.Format "2006" }} {{ .Site.Copyright }}
		<a
			href="https://gitlab.fabcloud.org/academany/fabacademy/2021/labs/aalto/students/russianwu/-/blob/master/static/license.md">
			MIT License</a>
	</footer>

	<script src="{{ .Site.BaseURL }}assets/js/bootstrap.min.js?{{ now.Unix }}"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="{{ .Site.BaseURL }}assets/js/jquery.fitvids.js?{{ now.Unix }}"></script>
	<script>
		// Basic FitVids Test
		$(".container").fitVids();
	</script>


</body>

</html>