<main class="my-container pb-5">
	<h2 class="py-3" id="assignments">Weekly Progress</h2>
	<div class="row  row-cols-1 row-cols-md-2 row-cols-lg-3">
		<div class="col">
			<div class="card mb-3">
				<div class="card-body">
					<div class="card-body">
			      		<h5 class="card-title">Week 6: 3x3 Mckibben Artificial Muscle Grid</h5>
			      		<p class="card-text"></p>
						<p class="card-text">Date: 21. - 28.02</p>
			      	</div>
			      	<div class="row">
			      		<div class="col d-grid gap-2 d-sm-flex flex-wrap justify-content-sm-end">
							<a href="{{ .Site.BaseURL }}week06/week06" class="btn btn-outline-primary" role="button">Learn More</a>
						</div>
			      	</div>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="card mb-3">
				<div class="card-body">
					<img class="card-img-top" src="{{ .Site.BaseURL }}week05/thumbnail.jpg" alt="Week01 image">
					<div class="card-body">
			      		<h5 class="card-title">Week 5: Single Mckibben Artificial Muscle (Air Actuators)</h5>
			      		<p class="card-text"></p>
						<p class="card-text">Date: 14. - 20.02</p>
			      	</div>
			      	<div class="row">
			      		<div class="col d-grid gap-2 d-sm-flex flex-wrap justify-content-sm-end">
							<a href="{{ .Site.BaseURL }}week05/week05" class="btn btn-outline-primary" role="button">Learn More</a>
						</div>
			      	</div>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="card mb-3">
				<div class="card-body">
					<img class="card-img-top" src="{{ .Site.BaseURL }}week04/thumbnail.jpg" alt="Week01 image">
					<div class="card-body">
			      		<h5 class="card-title">Week 4: Finish the first month</h5>
			      		<p class="card-text">I finished the structure of thesis, tried with Overleaf, read through Translocal Mindfulness and Wireless Haptic System. </p>
						<p class="card-text">Date: 07. - 13.02</p>
			      	</div>
			      	<div class="row">
			      		<div class="col d-grid gap-2 d-sm-flex flex-wrap justify-content-sm-end">
							<a href="{{ .Site.BaseURL }}week04/week04" class="btn btn-outline-primary" role="button">Learn More</a>
						</div>
			      	</div>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="card mb-3">
				<div class="card-body">
					<div class="card-body">
						<h5 class="card-title">Week 3: Consultation</h5>
						<p class="card-text">This week, I had consultation with supervisor and adviors.</p>
						<p class="card-text">Date: 31.01 - 06.02</p>
					</div>
			      	<div class="row">
			      		<div class="col d-grid gap-2 d-sm-flex flex-wrap justify-content-sm-end">
							<a href="{{ .Site.BaseURL }}week03/week03" class="btn btn-outline-primary" role="button">Learn More</a>
						</div>
			      	</div>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="card mb-3">
				<div class="card-body">
					<img class="card-img-top" src="{{ .Site.BaseURL }}week02/thumbnail.jpg" alt="Week01 image">
					<div class="card-body">
						<h5 class="card-title">Week 2: Literature Review</h5>
						<p class="card-text">This week, I went through Force Jacket, Meta Reality Labs and came up a sketch with Hannes for the first prototype.</p>
						<p class="card-text">Date: 24. - 30. 01.</p>
					</div>
			      	<div class="row">
			      		<div class="col d-grid gap-2 d-sm-flex flex-wrap justify-content-sm-end">
							<a href="{{ .Site.BaseURL }}week02/week02" class="btn btn-outline-primary" role="button">Learn More</a>
						</div>
			      	</div>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="card mb-3">
				<div class="card-body">
					<img class="card-img-top" src="{{ .Site.BaseURL }}week01/thumbnail.jpg" alt="Week01 image">
					<div class="card-body">
						<h5 class="card-title">Week 1: Literature Review</h5>
						<p class="card-text">I studied Research through Design, Reset, ReSkin and review what equipment I can access in Bauhaus.</p>
						<p class="card-text">Date: 17. - 23. 01.</p>
					</div>
			      	<div class="row">
			      		<div class="col d-grid gap-2 d-sm-flex flex-wrap justify-content-sm-end">
							<a href="{{ .Site.BaseURL }}week01/week01" class="btn btn-outline-primary" role="button">Learn More</a>
						</div>
			      	</div>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="card mb-3">
				<div class="card-body">
					<div class="row">
			      		<h5 class="card-title">Schedule</h5>
			      	</div>
			      	<div class="row pb-4">
			      		<p class="card-text">This is the plan for accomplishing the master thesis in the following 16 weeks. It will be updated from time to time. Because the future is always unexpected. 🙌</p>
			      	</div>
			      	<div class="row pb-2">
			      	</div>
			      	<div class="row">
			      		<div class="col d-grid gap-2 d-sm-flex flex-wrap justify-content-sm-end">
							<a href="{{ .Site.BaseURL }}schedule/schedule" class="btn btn-outline-primary" role="button">Learn More</a>
						</div>
			      	</div>
				</div>
			</div>
		</div>
	</div>
</main>