<nav class="navbar navbar-expand-md navbar-dark bg-primary">
	<div class="container">
		<a class="navbar-brand" href="{{ .Site.BaseURL }}">Home Page</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMain">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarMain">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" href="{{ .Site.BaseURL }}schedule/schedule">Schedule</a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarAssignments" role="button" data-bs-toggle="dropdown">Weekly Documentations</a>
					<ul class="dropdown-menu">
						<li>
							<a href="{{ .Site.BaseURL }}week01/week01" class="dropdown-item">
								Week 1: Literature Review
							</a>
						</li>
						<li>
							<a href="{{ .Site.BaseURL }}week02/week02" class="dropdown-item">
								Week 2: Literature Review
							</a>
						</li>
						<li>
							<a href="{{ .Site.BaseURL }}week03/week03" class="dropdown-item">
								Week 3: Consultation
							</a>
						</li>
						<li>
							<a href="{{ .Site.BaseURL }}week04/week04" class="dropdown-item">
								Week 4: Finish the first month
							</a>
						</li>
						<li>
							<a href="{{ .Site.BaseURL }}week05/week05" class="dropdown-item">
								Week 5: Single Mckibben Artificial Muscle
							</a>
						</li>
						<li>
							<a href="{{ .Site.BaseURL }}week06/week06" class="dropdown-item">
								Week 6: 3x3 Mckibben Artificial Muscle Grid
							</a>
						</li>
					</ul>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="">Reference</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ .Site.BaseURL }}license.md">MIT Lisence</a>
				</li>
			</ul>
		</div>
	</div>
</nav>