<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
	<title>{{ .Page.Title }} - {{ .Site.Title }}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" href="{{ .Site.BaseURL }}assets/css/bootstrap.min.css?{{ now.Unix }}">
</head>

<body>

	{{ partial "navigation" . }}

	<header class="my-container pt-5 pb-3">
		<h1 class="display-5 pb-3">Hugging Suit: Pneumatically-Actuated System Design for Haptic Experiences</h1>
		<p class="lead">The website is used for updating and documenting what I learned and what I have done for my
			master thesis, Hugging Suit: Pneumatically-Actuated System Design for Haptic Experiences. It has the
			advantage that I can synchronize the latest progress with my supervisor and advisors. During the development
			(16 weeks), the website will only be shared with Prof. Eva Hornecker, Dr. Sabine Zierold, and Dr. Luke
			Hespanhol. The website will be revealed to the public until the day of the thesis defense.</p>
	</header>

	{{ partial "main" . }}


	<footer class="my-container py-3 d-flex justify-content-end">
		&copy; {{ now.Format "2006" }} {{ .Site.Copyright }}
		<a
			href="https://gitlab.fabcloud.org/academany/fabacademy/2021/labs/aalto/students/russianwu/-/blob/master/static/license.md">
			MIT License</a>
	</footer>

	<script src="{{ .Site.BaseURL }}assets/js/bootstrap.min.js?{{ now.Unix }}"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="{{ .Site.BaseURL }}assets/js/jquery.fitvids.js?{{ now.Unix }}"></script>
	<script>
		// Basic FitVids Test
		$(".container").fitVids();
	</script>

</body>

</html>